<html lang="en"><head>
    <meta charset="UTF-8">
    <title>BD test</title>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .color-main{
            background-color:#0d47a1;
            color:white;
        }
    </style>
</head>
<body>
 <nav>
    <div class="nav-wrapper color-main">
      <a href="#" class="brand-logo" style="margin-left:3%;"><i class="material-icons">apps</i>Prueba de crecimiento</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html"></a></li>
        <li><a href="badges.html"></a></li>
        <li><a href="collapsible.html"></a></li>
      </ul>
    </div>
  </nav>
    <div style="margin:3%">
         <div class="row">
            <table class="striped">
                <thead>
                  <tr>
                      <th>Número operación</th>
                      <th>Hilo de ejecucion</th>
                      <th>Tipo de operacion</th>
                      <th>Indice</th>
                      <th>Tiempo</th>
                      <th>Tamaño inicial nodo central</th>
                      <th>Tamaño inicial nodo 2</th>
                      <th>Tamaño inicial nodo 3</th>
                      <th>Tamaño final nodo central</th>
                      <th>Tamaño final 2</th>
                      <th>Tamaño final 3</th>
                  </tr>
                </thead>

                <tbody>



                <tr>
                    <td><p>1</p></td>
                     <td><p>1</p></td>
                     <td><p>insertReserva()</p></td>
                     <td><p>no</p></td>
                     <td><p>0.5426898002624512</p></td>
                    <td><p>11 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>11 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                </tr>

                <tr>
                    <td><p>1</p></td>
                     <td><p>2</p></td>
                     <td><p>insertReserva()</p></td>
                     <td><p>no</p></td>
                     <td><p>0.5376956462860107</p></td>
                    <td><p>11 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>11 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                </tr>

                <tr>
                    <td><p>1</p></td>
                     <td><p>3</p></td>
                     <td><p>insertReserva()</p></td>
                     <td><p>no</p></td>
                     <td><p>0.4977118968963623</p></td>
                    <td><p>11 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                </tr>

                <tr>
                    <td><p>2</p></td>
                     <td><p>1</p></td>
                     <td><p>insertReserva()</p></td>
                     <td><p>no</p></td>
                     <td><p>0.5217037200927734</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                </tr>

                <tr>
                    <td><p>2</p></td>
                     <td><p>2</p></td>
                     <td><p>insertReserva()</p></td>
                     <td><p>no</p></td>
                     <td><p>0.5446879863739014</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                </tr>

                <tr>
                    <td><p>2</p></td>
                     <td><p>3</p></td>
                     <td><p>insertReserva()</p></td>
                     <td><p>no</p></td>
                     <td><p>0.5077099800109863</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                </tr>

                <tr>
                    <td><p>1</p></td>
                     <td><p>1</p></td>
                     <td><p>insertReserva()</p></td>
                     <td><p>no</p></td>
                     <td><p>0.5027124881744385</p></td>
                    <td><p>13 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>13 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                </tr>

                <tr>
                    <td><p>1</p></td>
                     <td><p>2</p></td>
                     <td><p>insertReserva()</p></td>
                     <td><p>no</p></td>
                     <td><p>0.5356931686401367</p></td>
                    <td><p>13 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>13 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                </tr>

                <tr>
                    <td><p>1</p></td>
                     <td><p>3</p></td>
                     <td><p>insertReserva()</p></td>
                     <td><p>no</p></td>
                     <td><p>0.5306966304779053</p></td>
                    <td><p>13 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>13 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                </tr>

                <tr>
                    <td><p>2</p></td>
                     <td><p>1</p></td>
                     <td><p>insertReserva()</p></td>
                     <td><p>no</p></td>
                     <td><p>0.5966579914093018</p></td>
                    <td><p>13 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>14 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                </tr>

                <tr>
                    <td><p>2</p></td>
                     <td><p>2</p></td>
                     <td><p>insertReserva()</p></td>
                     <td><p>no</p></td>
                     <td><p>0.5147056579589844</p></td>
                    <td><p>14 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>14 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                </tr>

                <tr>
                    <td><p>2</p></td>
                     <td><p>3</p></td>
                     <td><p>insertReserva()</p></td>
                     <td><p>no</p></td>
                     <td><p>0.43974947929382324</p></td>
                    <td><p>14 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>14 MB</p></td>
                    <td><p>12 MB</p></td>
                    <td><p>12 MB</p></td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


<div class="hiddendiv common"></div></body></html>